@charset "utf-8";
/* CSS Document */
a {
  text-decoration: none;
}

.home {
  margin: 0 auto;
  background-color: #F9F9F9;
  width: 100%;
}

.left {
  background: url("../assets/images/leftmenu.png") no-repeat;
  background-size: cover;
  width: 10%;
  background-color: #094C8E;
  color: #ffffff;
  font-size: 16px;
  padding-top: 79px;
  float: left;
}

.type {
  background: rgba(0, 0, 0, .3);
  width: 80%;
  height: 36px;
  margin-left: 10%;
}

.document {
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: #FFFFFF;
}

.list {
  width: 100%;
  margin-top: 20px;
}

.list li {
  text-align: center;
  list-style: none;
  line-height: 80px;
  cursor: pointer;
  font-size: 16px;
}

.list li:hover {
  text-align: center;
  width: 100%;
  background-color: #01386E;
  font-weight: bold;

  color: #10F5F5;
}

.right {
  float: left;
  width: 90%;
}

.h {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  height: 25px;
  margin: 60px;

}

.table {
  margin: 50px;
}

.table table {
  width: 95%;
}

.table thead {
  padding: 60px;
  background-color: #F2F8FF;
}

.table th {
  width: 324px;
  padding: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #2C2C2C;
}

.thbb {
  border-bottom: 1px dashed #979797;;
}

.bot {
  background-color: #F8F8F8;
  overflow: auto;
  margin: 0 auto;
}

.bot ul {
  list-style: none;
}

.bot ul li {
  width: 100px;
  float: left;
  padding-right: 10px;
}

.download {
  font-family: '微软雅黑';
  width: 120px;
  height: 40px;
  float: right;
  line-height: 30px;
  /*  font-size: 14px;
    color: #FFFFFF;*/
  background: #042E58;
}

.fc {
  color: #2878FC;
}

.el-button {
  margin-top: 20px !important;
  margin-right: 5% !important;
}
