*,
*:before,
*:after {
  margin:0;
  padding:0;
}
input,button,textarea,select{border:0 none;-webkit-appearance:none;font-family:'Microsoft Yahei','HelveticaNeue';}
input:focus, select:focus, input:active, textarea{ outline:none;}
a,img,button,input,textarea{-webkit-tap-highlight-color:transparent;}
.el-header{padding:0 !important;}

.xyzhead{
  height:100px !important;
  padding:0 !important;
  border-bottom:#c8c8c8 solid 1px;
}
.el-footer{padding:0 !important; height:auto !important;}
.xyzfoot{padding:25px 0; background-color:#474747;}
.footerTitle{width: 1200px; margin:0 auto; line-height: 30px; text-align: center; font-size: 12px; color:#929292;}

.el-button{border-radius: 0 !important;}


.el-main {
  color: #333;
}

body{margin:0;}
body.bg_gray{background-color: #f2f2f2;}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-footer {
  text-align: center;
  color: #f9f2f4;
}
.bgColor_black{
  opacity: 0.89;
  background: #333;
}
.bgColor_green{
  background-color: #14A296;
}
.fontColor_green{
  color: #14A296;
}

.style_width{
  width: 1200px;
  margin: 0 auto;
}
.home_width{
  width: 900px;
  margin: 0 auto;
}
.el-main{padding:0 !important;}
.el-pagination{margin-bottom:20px;}
.mt20{margin-top:20px;}
.xyznav{width:1200px; margin:0 auto; padding:18px 0;}

.el-input{border-radius: 0 !important}
.el-input__inner{border-radius: 0 !important}
.el-form-item{margin:20px 0 0 !important;}
.remember .el-checkbox__label{font-size:12px !important; color:#999;}

.clearfix{zoom:1}
.clearfix:after{display:block; content:''; clear:both; height:0; font-size:0;}

.headlogo{float:left;width:87px; height:87px; background:url(../assets/logo@3x.png) center no-repeat; background-size:100% auto; cursor: pointer;}
.homelogo{width:90px; height:90px; margin:20px auto 0; background:url(../assets/logo@3x.png) center no-repeat; background-size:100% auto; cursor: pointer;}
/*search*/
.srcon{position: relative;}
.srcon .searchl{position: relative; float: left; width: 523px;}
.srcon .searchButton{display: block; float: left; padding:0; height:40px; line-height: 40px; text-align: center; border-color:#14A296 !important;}
.srcon .el-input__inner{padding:0 40px 0 15px; border-color:#14A296;}
.srcon .sod{position: absolute; top:0px; right:0px; width: 40px; height: 40px; cursor: pointer; background: url(../assets/search/speech.png) center no-repeat;}
.srcon .sc{ display:none; z-index: 80; position: absolute; top:40px; left:0; width: 521px; border:#e7e7e7 solid 1px; background-color:#fff;}
.srcon .sc ul{list-style: none;}
.srcon .sc ul li{padding:10px 15px; line-height: 20px; font-size: 14px; color:#797979; text-align: left; border-bottom:#e7e7e7 solid 1px; cursor: pointer; background: url(../assets/search/searchTop.png) 98% center no-repeat;}
.srcon .sc .cz{position: relative; height: 36px; line-height: 36px; text-align: center; color:#999; font-size: 12px; background-color: #f4f4f4;}
.srcon .sc .cz .close{width: 50px; cursor: pointer;}
.srcon .sc .cz .del{ position: absolute; top:0; right: 0; width: 80px; padding-left:15px; cursor: pointer; background:url(../assets/search/delete.png) 15px center no-repeat;}

.page-bottom{background-color:#fff; margin-bottom:30px;}
.xs_nav{width: 1200px; height: 46px; margin:0 auto; line-height:36px; font-size:14px; color:#666; text-align: left; }
.xs_body{ float: left; width: 840px; padding:30px !important; background-color:#fff; }
.xs_body.pcbody{padding:0 30px !important; margin:40px 0 30px;}
.xyzmain{width: 1200px; height:auto !important; margin:0 auto;}
.xyzmain.mt30{ margin:30px auto;}
.xspic img{ display: block; width: 114px; height:122px;}
.xsmcon{padding-left:10px; text-align: left;}
.xsmcon h2{display: flex; justify-content:flex-start;align-items:flex-start; text-align: left; margin-bottom:10px; line-height:24px; font-size:16px; color: #333; cursor: pointer;}
.xsmcon h2 .RECOMMEND{display:inline-block; width: 38px; height: 22px; margin-left:10px; background: url(../assets/public/nominate.png) top center no-repeat;}
.xsmcon h2 .HOT{display:inline-block; width: 38px; height: 22px; margin-left:10px; background:url(../assets/public/hot.png) top center no-repeat;}
.xsmcon h2 .NEW{display:inline-block; width: 38px; height: 22px; margin-left:10px; background:url(../assets/public/new.png) top center no-repeat;}
.xsmcon h2 .ico{display:inline-block; }
.xsmcon h2 .ico.audio{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/audio.png) top center no-repeat;}
.xsmcon h2 .ico.doc{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/doc.png) top center no-repeat;}
.xsmcon h2 .ico.excel{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/excle.png) top center no-repeat;}
.xsmcon h2 .ico.pdf{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/pdf.png) top center no-repeat;}
.xsmcon h2 .ico.ppt{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/ppt.png) top center no-repeat;}
.xsmcon h2 .ico.txt{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/txt.png) top center no-repeat;}
.xsmcon h2 .ico.zip{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/zip.png) top center no-repeat;}
.xsmcon h2 .ico.video{width: 24px; height:24px; margin-right:10px;background:url(../assets/public/video.png) top center no-repeat;}
.xsmcon p{ margin-bottom:10px; line-height:20px; font-size:14px; color: #666;}
.xsmcon .mess{ height: 20px; line-height:20px; font-size:12px; color: #999;}
.xsupmore{width: 60px; margin:0 auto 40px; padding-top:20px; line-height: 20px; text-align: center; font-size:12px; color:#9d9d9d; background:url(../assets/public/load.png) top center no-repeat; cursor: pointer;}
.xs_r{float: right; width: 340px !important; }
.xsmcon.xs_con_tit{ position: relative; padding-left:0; margin-bottom:30px;}
.xs_con_tit h2{font-size:20px;}
.xs_con_tit .zs{padding-top:10px; line-height:20px; font-size:12px; text-align:left; color:#f7b74c;}
.xs_con_tit .zs span{display:inline-block; margin-right:20px; cursor: pointer;}
.xs_con_tit .zs span.nozs{ color:#999;}
.xs_con_tit .down{position: absolute; top:0; right:0; height:40px; cursor: pointer; }
.xs_con_tit .down .el-button--primary {
  color: #14a296;
  background-color: #fafafa;
  border-color: #14a296;
  width: 140px;
}
.xsupmore.mt20{margin-top:20px;}

/*个人用户中心*/
.xs_ctab{padding:20px 0 40px;}
.xs_ctab .cta{ position: relative; float: left; margin-right:70px; height: 30px; font-size: 14px; color:#666; cursor: pointer;}
.xs_ctab .cta.active{ font-weight: bold; color:#008f81;}
.xs_ctab .cta.active:after{ display: block; content:''; position: absolute; left: 50%; bottom:0; width: 30px; height: 3px; margin-left:-15px; background-color:#008f81;}

/*pageRight*/
.pr_box{ padding:20px; margin-bottom:20px; background-color:#fff}
.pr_tit{ position: relative; padding-bottom:10px; margin-bottom:10px; border-bottom:#f7f7f7 solid 2px;}
.pr_tit h2{ height:20px; padding: 0 0 0 7px; margin:0; text-align: left; font-size:18px; color:#333; font-weight: normal; border-left:#14a296 solid 4px;}
.pr_tit a{display: block; position: absolute; top:0; right: 0; line-height: 20px; font-size:12px; color:#999; text-decoration: none;}
.pr_con{list-style: none;}
.pr_con li{ overflow: hidden; position: relative; padding: 5px 80px 5px 0; height:20px;text-overflow:ellipsis;white-space:nowrap; line-height:20px; font-size:14px; color:#333; text-align: left; }
.pr_con li a{ color:#333; text-decoration: none;}
.pr_con li span{ display: block; position: absolute; top:5px; right: 0; font-size:12px; color: #999;}

/*pageQuicklink*/
.xyzql{ overflow: visible; z-index: 99; position: fixed !important; top:0; left:0; width: 100%; height: 0; }
.xyzql .qlbox{position: absolute; top:280px; right: 5px; width: 50px; padding:25px 15px; background-color:#616161;}
.xyzql .qlbox .ql{height: 50px; padding-bottom:12px; margin-bottom:12px; border-bottom:#888888 solid 1px;}
.xyzql .qlbox .jqr{ width: 50px; height:50px; background:url(../assets/page/copy.png) center no-repeat; cursor: pointer;}
.xyzql .qlbox .dh{ width: 50px; height:50px; background:url(../assets/page/message.png) center no-repeat; cursor: pointer;}
.xyzql .qlbox .down{ padding-top:50px; line-height:20px; font-size:12px; color:#fff; text-align: center; background:url(../assets/page/code.png) top center no-repeat; cursor: pointer;}

/*智能客服*/
.aicsbg{ position:absolute;top:0;left:0;z-index:9999;width:100%;display:none;background-color: rgba(0,0,0,0.4);}
.aicsBox{z-index:10000;display:none;position:absolute; left:50%; width: 871px; margin-left:-435px; background-color: #fff; box-shadow: 0 0 3px #999;}
.aicsBox .tit{ position: relative; height: 44px; padding:0 20px; background: #14a296}
.aicsBox .tit h2{ line-height: 44px; text-align: left; font-weight: normal; font-size: 16px; color: #fff;}
.aicsBox .tit .closebtn{ display: block; position: absolute; top:0; right: 0; width: 44px; height: 44px; background: url(../assets/talk/xyz_close.png) center no-repeat; cursor: pointer;}
.aicsBox .lbox{ float:left; width: 600px; border-right:#e7e7e7 solid 1px;}
.aicsBox .rbox{ float:left; width: 270px;}
.aicsBox .con{ overflow-y: auto; height: 380px; padding:20px 20px 20px 30px;}
.aicsBox .con .time{ width: 120px; height: 20px; margin: 0 auto 20px; line-height: 20px; text-align: center; font-size: 12px; color: #888; background-color: #f2f2f2; border-radius: 3px;}
.aicsBox .con .aics{ position: relative; margin: 0 0 20px; padding-left:45px; }
.aicsBox .con .aics .head{ position: absolute; top:0; left:0; width: 30px; height: 30px; background: url(../assets/talk/xyz_head_jq.png) left center no-repeat; border-radius: 30px; }
.aicsBox .con .aics .dialogbox{ position: relative; float: left; max-width: 300px; padding:5px 10px; line-height: 20px; font-size: 12px; color: #747474; background-color: #e1f5f3; border:#aee1dc solid 1px; border-radius: 3px; }
.aicsBox .con .aics .dialogbox:before{ display: block; content: ''; position: absolute; left:-4px; top:11px; width: 4px; height: 9px; background: url(../assets/talk/xyz_arr_1.png) right center no-repeat; }
.aicsBox .con .user{ position: relative; margin: 0 0 20px; padding-right:45px; }
.aicsBox .con .user .head{ position: absolute; top:0; right:0; width: 30px; height: 30px; background: url(../assets/talk/xyz_head_user.png) center no-repeat; border-radius: 30px; }
.aicsBox .con .user .dialogbox{ position: relative; float: right; max-width: 300px; padding:5px 10px; line-height: 20px; font-size: 12px; color: #7c7c7c; background-color: #eeeeee; border-radius: 3px; }
.aicsBox .con .user .dialogbox:before{ display: block; content: ''; position: absolute; right:-5px; top:11px; width: 5px; height: 8px; background: url(../assets/talk/xyz_arr_2.png) right center no-repeat; }
.aicsBox .con .vediobox{ position: relative; float: left; max-width: 300px; padding:0; }
.aicsBox .con .vediobox img{ display: block; max-width: 300px; }
.aicsBox .gn{position: relative; height: 22px; padding:7px 20px; border-top:#f2f2f2 solid 2px;}
.aicsBox .gn a{ display: block; float: left; width: 22px; height: 22px; margin-right:10px;}
.aicsBox .gn a.face{ background: url(../assets/talk/xyz_face.png) center no-repeat;}
.aicsBox .gn a.tel{ position: relative; background: url(../assets/talk/xyz_tel.png) center no-repeat;}
.aicsBox .gn a.tel .up{ display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; opacity: 0;}
.aicsBox .gn a.tel .hand{ z-index: 9; display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; cursor: pointer;}
.aicsBox .inpcon .txtbox{ display: block; width: 100%; height:60px; padding: 0 20px 20px; line-height: 20px; color: #747474; font-size: 12px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; border:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.aicsBox .btnbox{padding:20px; text-align: right}
.aicsBox .btnbox .fbbtn{display:inline-block; width:74px; height:32px; line-height: 32px; text-align: center; font-size: 12px; color: #fff; background-color:#008f81; border-radius: 30px; cursor: pointer;}
.aicsBox .rtit{height: 40px; padding:0 15px; text-align: left; line-height: 40px; font-size: 14px; color:#666; border-bottom:#e7e7e7 solid 1px;}
.aicsBox .rcon{ overflow-y: auto; height: 549px; background-color:#f4f4f4;}
.aicsBox .rcon .xzcon{padding:15px 10px 0; list-style: none;}
.aicsBox .rcon .xzcon li{ zoom:1; padding-bottom:5px; margin-bottom:10px; border-bottom:#dedede solid 1px;}
.aicsBox .rcon .xzcon li:after{display: block; content:''; clear: both; height: 0;}
.aicsBox .rcon .xzcon li h2{ overflow: hidden; text-align: left; margin-bottom:5px; line-height:24px; font-size:14px; color: #333; cursor: pointer;}
.aicsBox .rcon .xzcon li h2 .ico{position: relative; top:2px; display:inline-block; width: 14px; height:14px; margin-right:10px;}
.aicsBox .rcon .xzcon li h2 .ico.audio{background:url(../assets/public/audio.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.doc{background:url(../assets/public/doc.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.excel{background:url(../assets/public/excle.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.pdf{background:url(../assets/public/pdf.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.ppt{background:url(../assets/public/ppt.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.txt{background:url(../assets/public/txt.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.zip{background:url(../assets/public/zip.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li h2 .ico.video{background:url(../assets/public/video.png) top center no-repeat; background-size: 14px 14px;}
.aicsBox .rcon .xzcon li p{height: 18px; padding:0 10px 0 24px; line-height: 18px; font-size: 12px; color:#a5a5a5;}
.aicsBox .rcon .xzcon li p span.fl{display:block; float:left;}
.aicsBox .rcon .xzcon li p span.fr{display:block; float:right; cursor: pointer;}
.aicsBox .rcon .ntxt{text-align: center; line-height: 30px; color:#cfcfcf; font-size: 12px;}
.aicsBox .rcon .xzcon li .pic{float: left; overflow: hidden; width: 64px; height: 72px; margin:0 10px 5px 0;}
.aicsBox .rcon .xzcon li .pic img{display: block; width: 64px; height: 72px;}
.aicsBox .rcon .xzcon li .rb{float: left; width: 175px;}
.aicsBox .rcon .xzcon li .rb h2{height: 50px;}
.aicsBox .rcon .xzcon li .rb p{padding:0 10px 0 0;}

.mr_10{
  margin-right: 10px;
}
.mr_20{
  margin-right: 20px;
}
.mr_30{
  margin-right: 30px;
}
.mr_40{
  margin-right: 40px;
}


/*homepage*/
.tabcont{padding:30px 20px 0; border-bottom:#e8e8e8 solid 1px;}
.tabcont .con{float:left; width:50%; padding:0 20px 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tabcont .con .r{position: relative; float:right; width: 205px; height:170px;}
.tabconlist{padding:30px 40px 0;}

/*upfilemess*/
.upnav{height: 44px; background-color:#474747;}
.upnav .tit{width: 1200px; margin:0 auto; text-align: left; line-height: 44px; font-size:14px; color:#fff;}
.upbox{width: 1200px; margin:15px auto; background-color:#fff;}
.upbox .upjd{ padding:35px 50px 30px; border-bottom:#eeeeee solid 1px;}
.upbox .upform{width:700px; padding:40px 0; margin:0 auto;}
.upbox .upform dl{zoom:1; margin-bottom:20px;}
.upbox .upform dl.mb10{ margin-bottom:10px;}
.upbox .upform dl:after{display: block; content: ''; clear: both; height: 0;}
.upbox .upform dl dt{float: left; width: 140px; padding-right:30px; line-height: 44px; font-size: 14px; color:#757575; text-align: right;}
.upbox .upform dl dt span{color:#ff0000;}
.upbox .upform dl dd{float: left; width: 472px; }
.upbox .upform dl dd .uppic{ list-style: none; }
.upbox .upform dl dd .uppic li{ position: relative; float: left; width: 42px; height: 42px; margin:0 10px 10px 0; border: #c3c3c3 solid 1px; }
.upbox .upform dl dd .uppic li .del{display: block; position: absolute; top:-6px; right:-6px; width: 12px; height:12px; background:#ccc; border-radius: 12px; cursor: pointer;}
.upbox .upform dl dd .uppic li img{ display: block; width: 42px; height: 42px;}
.upbox .upform dl dd .uppic li.add{ position: relative; background:url(../assets/images/icon_add.png) center no-repeat; cursor: pointer;}
.upbox .upform dl dd .uppic li.add .up{ display: block; position: absolute; top:0; left:0; width: 100%;; height: 100%; opacity: 0; cursor: pointer;}
.upbox .upform dl dd .uppic li.txt{ width: 120px; line-height: 42px; text-align: left; border:none; }
.upbox .upform dl dd label{ position: relative; display: inline-block; margin-right:5px; padding-right:25px; padding-left:20px; cursor: pointer;}
.upbox .upform dl dd label .chk{ position: absolute; top:17px; left:0; display: block; width: 12px; height: 12px; background: url(../assets/images/icon_chk.png) center no-repeat;}
.upbox .upform dl dd label .chk:checked{ background: url(../assets/images/icon_chk_ched.png) center no-repeat;}
.upbox .upform dl dd label .chkdel{display:none; z-index: 2; position: absolute; top: 12px; right:0;  width: 20px; height: 20px; margin-left: 5px; background: url(../assets/images/icon_chk_del.png) center no-repeat;}
.upbox .upform dl dd label:hover .chkdel{display: block;}
.upbox .upform dl dd .addtagok{float: left; margin-left:10px; line-height:44px; color:#14a296; cursor: pointer;}
.upbox .upform dl dd .addtagerr{float: left; margin-left:10px; line-height:44px; color:#999; cursor: pointer; }
.upbox .upform dl dd .addgjz{ width: 120px; height: 30px; margin-top:7px; margin-bottom:7px; line-height: 30px; text-align: center; color: #33afa4; border:#c4c4c4 dashed 1px; cursor: pointer;}
.upbox .upform dl dd .addgjz{ width: 120px; height: 30px; margin-top:8px; margin-bottom:6px; line-height: 30px; text-align: center; color: #33afa4; border:#c4c4c4 dashed 1px; cursor: pointer;}
.upbox .upform dl dd .txtcon{ position: relative; width: 440px; padding:0 10px 20px; border:#c3c3c3 solid 1px;}
.upbox .upform dl dd .txtcon .txt{ display: block; width: 100%; height: 72px; padding:10px 0 0; text-align: left; line-height: 24px; border:none; }
.upbox .upform dl dd .txtcon .txtnum{ position: absolute; bottom:0; right: 5px; width: 100px; height: 20px; line-height: 20px; font-size: 12px; text-align: right; }
.upbox .btnbox{padding-top:20px; text-align: center;}
.upbox .btnbox .upbtn{display: inline-block; width: 150px; height:36px; text-align: center; font-size: 14px; color:#fff; line-height: 36px; background-color:#14a296; border-radius: 30px; cursor: pointer;}
.formtxt{line-height: 44px; font-size: 14px; color:#757575; text-align: left;}
.formtxt.c9{color:#999;}
.forminp{ display: block; width: 440px; height: 42px; padding:0 10px; line-height: 42px; font-size: 14px; color:#757575; text-align: left;border:#c3c3c3 solid 1px; }
.upbox .upform .upjg{ position: relative; padding-top:70px; min-height: 70px; }
.upbox .upform .upjg .upinp{position: absolute; top:0; left:50%; width:180px; height:48px; margin-left:-90px; background:url(../assets/images/icon_up_inp.png) center no-repeat; background-size: 100% auto;}
.upbox .upform .upjg .upinp:hover{ background:url(../assets/images/icon_up_inp_over.png) center no-repeat; background-size: 100% auto;}
.upbox .upform .upjg .upinp .fileinp{display: block; position: absolute; width: 100%; height:100%; opacity: 0; cursor: pointer;}
.upbox .upform .upjg p{text-align: center; font-size: 14px; color: #999;}
.upbox .upform .upok{padding-top:90px; min-height: 70px; background:url(../assets/images/icon_ok.png) top center no-repeat;}
.upbox .upform .upok.err{ background:url(../assets/images/icon_err.png) top center no-repeat;}
.upbox .upform .upok h2{ height: 50px; color: #13a296; text-align: center; font-size: 16px; font-weight: normal;}
.upbox .upform .upok p{ width: 335px; margin:0 auto; line-height: 30px; color: #666; text-align: left; font-size: 14px;}
.upbox .upform .upok p span{ color:#ff0000; font-size: 20px;}
.upbox .upform .upok p a{ color:#14a296; text-decoration: underline; cursor: pointer;}
.el-message{min-width: auto !important;}

/*summary*/
.summary .el-tabs__nav{margin-left:20px;}
.summary .el-tabs__active-bar{background-color:#008f81;}
.summary .el-tabs__item.is-active{color:#008f81}
.summary .el-tabs__item:hover{color:#008f81}
.summary .con{padding:10px 20px 0; line-height: 24px; text-align: left; font-size: 14px; color:#333; text-indent: 2em;}
i{ font-style:normal}
/*评论*/
.commentul{list-style: none; padding:30px 40px 0;}
.commentul li{position: relative; padding:0 80px 10px 60px; margin-bottom:20px; border-bottom:#f1f1f1 solid 1px;}
.commentul li .head{position: absolute; top:0; left:0; width: 44px; height:44px; background-color:#d8d8d8; border-radius: 40px;}
.commentul li .head img{ display: block; width: 44px; height:44px; }
.commentul li .time{position: absolute; top:0; right:0; line-height: 24px; font-size: 12px; color:#a7a7a7 }
.commentul li .name{ text-align: left; line-height: 24px; font-size: 16px; color:#333 }
.commentul li .mess{ text-align: left; line-height: 24px; font-size: 14px; color:#707070 }
.commentul li .zan{ cursor:pointer;text-align: left; line-height: 24px; font-size: 12px; color:#a7a7a7 }
.commentul li .zanafter{ text-align: left; line-height: 24px; font-size: 12px; color: #f7b74c }
.commentmore{width: 60px; margin:0 auto 20px; padding-right:20px; line-height: 24px; text-align: center; font-size:12px; color:#9d9d9d; background:url(../assets/public/load.png) right center no-repeat; cursor: pointer;}
.commentall{width: 60px; margin:0 auto 20px; padding-right:20px; line-height: 24px; text-align: center; font-size:12px; color:#9d9d9d;}
.commentsr{ padding:0 40px 0;}
.commentsr .tit{ height:30px; text-align: left; font-size: 16px; color:#333; }
.commentsr .comm{ height:140px; padding:20px; border:#5eb8ac solid 1px; background-color: #FFF }
.commentsr .comm .commtext{display: block ; width: 100%; height: 140px !important;resize:none; line-height: 20px; font-size:14px; color:#333;}
.commentsr .commbtn{ padding-top:10px; text-align: right; }
.commentsr .commbtn .cbtn{ display: inline-block; width: 140px; height: 40px; line-height:40px; text-align: center; font-size: 14px; color:#fff; background-color:#5eb8ac; cursor: pointer; }
