@charset "UTF-8";
/*全局属性*/
/* rest */
body, div, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
header, hgroup, html,
i, iframe, img, ins, input,
kbd, keygen,
label, legend, li,
meter, nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, source, strike, strong, sub, sup, select, button,
textarea,
u, ul,
var {
    /*font-size:12px;
    line-height:18px;*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    zoom: 1

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    zoom: 1
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

em {
    font-style: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table, table td {
    border: none;
    border-collapse: collapse;
}

img, a img {
    border: none;
}
input, select, textarea {
    /*font:12px  Arial, Helvetica, sans-serif normal;*/
    vertical-align: middle;
}
body {
    background: #FFF;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}


/*智能客服*/
.clearfix {zoom:1; clear: both;}
.clearfix:after {content: ""; display: block; height: 0; clear: both; visibility: hidden; line-height: 0; font-size: 0;}
.aicsbg{ position:absolute;top:0;left:0;z-index:9999;width:100%;display:none;background-color: rgba(0,0,0,0.4);}
.aicsBox{z-index:10000;display:none;position:absolute; width: 600px; background-color: #fff; box-shadow: 0 0 3px #999;}
.aicsBox .tit{ position: relative; height: 44px; padding:0 20px; background: #14a296}
.aicsBox .tit h2{ line-height: 44px; text-align: left; font-weight: normal; font-size: 16px; color: #fff;}
.aicsBox .tit .closebtn{ display: block; position: absolute; top:0; right: 0; width: 44px; height: 44px; background: url(../assets/images/xyz_close.png) center no-repeat;}
.aicsBox .con{ overflow-y: auto; height: 380px; padding:20px 20px 20px 30px;}
.aicsBox .con .time{ width: 120px; height: 20px; margin: 0 auto 20px; line-height: 20px; text-align: center; font-size: 12px; color: #888; background-color: #f2f2f2; border-radius: 3px;}
.aicsBox .con .aics{ position: relative; margin: 0 0 20px; padding-left:45px; }
.aicsBox .con .aics .head{ position: absolute; top:0; left:0; width: 30px; height: 30px; background: url(../assets/images/xyz_head_jq.png) left center no-repeat; border-radius: 30px; }
.aicsBox .con .aics .dialogbox{ position: relative; float: left; max-width: 300px; padding:5px 10px; line-height: 20px; font-size: 12px; color: #747474; background-color: #e1f5f3; border:#aee1dc solid 1px; border-radius: 3px; }
.aicsBox .con .aics .dialogbox:before{ display: block; content: ''; position: absolute; left:-4px; top:11px; width: 4px; height: 9px; background: url(../assets/images/xyz_arr_1.png) right center no-repeat; }
.aicsBox .con .user{ position: relative; margin: 0 0 20px; padding-right:45px; }
.aicsBox .con .user .head{ position: absolute; top:0; right:0; width: 30px; height: 30px; background: url(../assets/images/xyz_head_user.png) center no-repeat; border-radius: 30px; }
.aicsBox .con .user .dialogbox{ position: relative; float: right; max-width: 300px; padding:5px 10px; line-height: 20px; font-size: 12px; color: #7c7c7c; background-color: #eeeeee; border-radius: 3px; }
.aicsBox .con .user .dialogbox:before{ display: block; content: ''; position: absolute; right:-5px; top:11px; width: 5px; height: 8px; background: url(../assets/images/xyz_arr_2.png) right center no-repeat; }
.aicsBox .con .vediobox{ position: relative; float: left; max-width: 300px; padding:0; }
.aicsBox .con .vediobox img{ display: block; max-width: 300px; }
.aicsBox .gn{position: relative; height: 22px; padding:7px 20px; border-top:#f2f2f2 solid 2px;}
.aicsBox .gn a{ display: block; float: left; width: 22px; height: 22px; margin-right:10px;}
.aicsBox .gn a.face{ background: url(../assets/images/xyz_face.png) center no-repeat;}
.aicsBox .gn a.tel{ position: relative; background: url(../assets/images/xyz_tel.png) center no-repeat;}
.aicsBox .gn a.tel .up{ display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; opacity: 0;}
.aicsBox .gn a.tel .hand{ z-index: 9; display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; cursor: pointer;}
.aicsBox .inpcon{padding: 0 0 20px;}
.aicsBox .inpcon .txtbox{ display: block; width: 100%; height:60px; padding: 0 20px 20px; line-height: 20px; color: #747474; font-size: 12px; font-family: "微软雅黑", Arial, Helvetica, sans-serif;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
